<div class="container">
  <div class="columns is-multiline">
    <div class="column is-4 is-offset-4">
      <div class="content is size-4">
        <h1>Twitter</h1>
      </div>
    </div>

    <%= render @tweets %>
  </div>
</div>