<h1>Twitter,clone</h1>


<ul>
  <% @tweets.each do |tweet| %>
  <li>
    <%= link_to tweet.title, tweet_path(tweet) %>
  </li>
  <% end %>
</ul>
<ul>
  <li>
    <%= link_to 'New Tweet', :new_tweet %>
  </li>
</ul>
