<div class="container">
  <div class="columns is-multiline">
    <div class="column is-4 is-offset-4">
      <div class="content-is-size-3">
        <h1><%= @tweet.title %></h1>
      </div>
    </div>

      <%= render @tweet, show: true %>
    </div>
  </div>
</div>
