<footer class="footer is-primary">
  <div class="content has-text-centered">
    <p>
      <strong>Twiter</strong> by <a href="https://www.facebook.com/jakovcevic">Martin Jakovchevikj</a>. Unofficial twitter clone
    </p>
  </div>
</footer>