<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-danger">
    <a class="navbar-item" href="localhost:3000">
      <img src="https://tinyurl.com/y4o5o6mr" width="36" height="36">
    </a>

    <%= link_to "Twitter", root_path, class: "navbar-item is-size-3" %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">


    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'New Tweet', :new_tweet, class: "button is-danger has-text-weight-bold" %>
        </div>
      </div>
    </div>
  </div>
</nav>